@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Varibles  */

:root {
  --primary: #0033ff;
  --secondary: #0099ff;
  --primary-dark: #0033ff;
  --secondary-dark: #0099ff;
}

body {
  @apply bg-gray-50 dark:bg-gray-800 text-gray-700 dark:text-gray-200;
}
.container {
  @apply sm:px-5 lg:px-0 w-11/12 md:w-10/12 xl:max-w-screen-xl;
}
.btn {
  @apply py-3 px-6 rounded-lg;
}
.btn-primary {
  @apply bg-indigo-500 hover:bg-indigo-600 text-white dark:bg-indigo-600 dark:hover:bg-indigo-700;
}

h1.title {
  @apply text-2xl md:text-4xl font-bold;
}

.form-control {
  @apply w-full p-3 border dark:border-gray-500 focus:outline-none dark:bg-gray-600 focus:border-gray-400 text-gray-500 dark:text-gray-200;
}
lite-youtube {
  @apply rounded-xl mt-8;
}

/* Tranisitions */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 20%;
  transform: translateY(-5px);
}

.content a {
  @apply text-indigo-500;
  transition: all 0.3s ease;
}
.content a:hover {
  box-shadow: inset 0 -0.1666666667em 0 0 #c7d2fe,
    inset 0 -0.3333333333em 0 0 #c7d2fe;
}

/* Utility */
.text-primary {
  @apply text-indigo-500;
}
